<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g1/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
print("hello")

hello

# Comments

In [1]:
# single line comment
# This is a single line comment

In [25]:

# multi line comment
''' this is a
   multiline
   comment '''
print("hello")

hello

# Variables

In [27]:
# declaring and assigning variables
a = 10
print(a)

10

In [28]:
b = 3.455
b

3.455

In [29]:
c = "mmdu"
c

'mmdu'

In [30]:
d = True
d

True

In [33]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
# valid invalid variable names
1ab = 10
-ab
a@b

In [35]:
# case sensitivity in python
name = "Dhawal"
Name = "Dwivedi"
print(Name)
print(name)

Dwivedi
Dhawal

In [6]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [38]:
# Type Conversion
a=10
print(type(a))
b = float(a)
print(b)
c = str(a)
print(type(c))

<class 'int'>
10.0
<class 'str'>

In [39]:
var = "hello"
v = int(var)
print(v)

ValueError: invalid literal for int() with base 10: 'hello'

In [42]:
# variables reinitialization
var = 10
var = 12.34
var = "hey"
print(var)

hey

In [48]:
# input function
v = float(input("enter a number "))
v

enter a number 12

12.0

# Data Types

In [10]:
# understanding different data types
# int
# float
# bool
# string

In [49]:
# adding 2 diff datatype variables
a = 10
b =12.3
c =a+b
type(c)

float

In [51]:
v = "hey"
res = v + str(a)
res

'hey10'

# Operators

In [53]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a= 12
b = 5
print(a/b)
print(a//b)

2.4
2

In [13]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
a==b
a=b
a!=b
a>=b
a<=b

In [56]:
# logical operators
# and
# or
# not
a= True
b = False
print(a and b)
print(not b)

False
True

# simple calculator program

In [15]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [16]:
# basics which enables decision making in python

In [59]:
a= 2
if a>5:
  print("a is greater than 4")
else:
  print("a is less than 4")

a is less than 4

In [17]:
#Q) Find if the number is even

In [18]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)
if a>4:
  print("gretrr than 4")
elif a>6:
  print("greter than 6")
else:
      print("less than 4 and 6")

In [61]:
# nested conditonals
## number even ,odd,negative
a=-12
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

negative

In [20]:
## Simple Calculator program
# Take user input for operation

In [63]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [22]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '