<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g1/loops_and_function_mca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [ ]:
# for loop
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
# step size
for i in range(10,2,-1):
  print(i)

10
9
8
7
6
5
4
3

In [ ]:
# iterating a string
s = "mmdu"
for i in s:
  print(i)

m
m
d
u

In [ ]:
# while loop
i = 0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [ ]:
# break
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(10):

  if i==5:

    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
# calculate sum of first n natural numbers
# sum = 0
# sum+=i

In [ ]:
# pattern printing
''' *****
    *****
    *****
    *****
    *****  '''
rows = 5
for i in range(rows):
  for j in range(rows):
    print("*",end ="")
  print()

*****
*****
*****
*****
*****

In [ ]:
rows = 5
for i in range(rows):
  for j in range(i):
    print("*",end ="")
  print()

*
**
***
****

In [ ]:
# find prime numbers between 1 to 100

# Functions

In [ ]:
# function definition
def greet():
  print("hello")

In [ ]:
# function call
greet()

hello

In [ ]:
# types of function

In [ ]:
# local and global variables
a = 2  # global
def fun():
  b=3   # local

b

NameError: name 'b' is not defined

In [ ]:
# parameters in a function
def add(a,b):
  print(a+b)

add(2,5)

7

In [26]:
# return statement
def fun(a,b):
  return a+b,a-b,a*b

fun(4,7)

(11, -3, 28)

In [28]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")

student(30,"Amit")

30 is Amit years old

In [29]:
student(age=30,name="Amit")

Amit is 30 years old

In [ ]:
# wap to find max of 3 numbers
max(a,b,c)

In [ ]:
# print multiplication table of a number

In [ ]:
2000

# Check if a given year is leap year or not

In [ ]:
def is_leap_year(year):
  """Checks if a given year is a leap year."""
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False

y = int(input("enter a year "))
print(is_leap_year(y))

enter a year 1600
True