<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g2/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
print("hello")

hello

# Comments

In [24]:
# single line comment
# This is a single line comment

In [26]:

# multi line comment
''' this is
 a multiline
 comment'''
print("hey")

hey

# Variables

In [3]:
# declaring and assigning variables

In [28]:
a = 10
print(a)

10

In [29]:
b = 23.45
print(b)

23.45

In [30]:
c= "gfg"
print(c)

gfg

In [31]:
d =True
print(d)

True

In [34]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [35]:


# valid invalid variable names
-ab = 10
a@b
2ab

10

In [36]:
# case sensitivity in python
Name = "Dhawal"
print(name)

NameError: name 'name' is not defined

In [6]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [39]:
# Type Conversion

a = 10
print(type(a))
b = float(a)
print(type(b))
c = str(a)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [40]:
c = "gfg"
d = int(c)
d

ValueError: invalid literal for int() with base 10: 'gfg'

In [43]:
# variables reinitialization
var = 10
var = 34.5
var = "hi"
var

'hi'

In [49]:
# input function
var = float(input("enter a number "))
var

enter a number 23.5

23.5

In [50]:
type(var)

float

# Data Types

In [10]:
# understanding different data types
# int
# float
# bool
# string

In [51]:
# adding 2 diff datatype variables
a = 23
b = 67.8
c = a+b
type(c)

float

In [53]:
a = "hey"
b = 23
c = a+ str(b)
c

'hey23'

# Operators

In [62]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a =12
b = 5
print(a/b)
print(a//b)
print(a**b)

2.4
2
248832

In [55]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
print(a==b)
print(a!=b)
print(a>=b)

False
True
True

In [57]:
# logical operators
# and
# or
# not
a = True
b = False
print(a and b)
print(a or b)
print( not b)

False
True
True

# simple calculator program

In [15]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [16]:
# basics which enables decision making in python

In [58]:
a = 9
if a>5:
  print("a is greater than 5")
else:
  print("a is lesser than 5")

a is greater than 5

In [17]:
#Q) Find if the number is even

In [18]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)

if ()
if ()




if()
elif()

In [61]:
# nested conditonals
## number even ,odd,negative
a = int(input("enter a number "))
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

enter a number -4
negative

In [20]:
## Simple Calculator program
# Take user input for operation

In [21]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [22]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '