<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g2/List_set_tuple_mca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# empty list
lst = []
type(lst)

list

In [ ]:
names=["Harsh","Rahul","Nitin",1,2,3,4,5.6,True]
print(names)

['Harsh', 'Rahul', 'Nitin', 1, 2, 3, 4, 5.6, True]

In [ ]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

In [5]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [ ]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [6]:
# changing elements
fruits[1] = "Mango"
fruits

['apple', 'Mango', 'cherry', 'kiwi', 'gauva']

In [ ]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [7]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'Mango', 'cherry', 'kiwi', 'gauva', 'orange']

In [8]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'Mango', 'cherry', 'kiwi', 'gauva', 'orange']

In [9]:
fruits.remove("watermelon") ## Removing the first occurance of an item
print(fruits)

['apple', 'Mango', 'cherry', 'kiwi', 'gauva', 'orange']

In [11]:
## Remove and return the last element
popped_fruits=fruits.pop(3)
print(popped_fruits)
print(fruits)

kiwi
['apple', 'Mango', 'cherry', 'gauva']

In [12]:
index=fruits.index("cherry")
print(index)

2

In [ ]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [13]:
 ## SSorts the list in ascending order
fruits.sort(ascending = False)
fruits

['Mango', 'apple', 'cherry', 'gauva']

In [14]:
 ## REverse the list
fruits.reverse()
fruits

['gauva', 'cherry', 'apple', 'Mango']

In [15]:
 ## Remove all items from the list
fruits.clear()

print(fruits)

[]

In [22]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
## List comprehension
lst = [0,1,2,3,4,5,6,7,8,9]
for i in lst:
  print(lst[i]**2)

In [24]:
[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

Example 1. Manage A To Do List

Create a To Do List To Keep Track OF Tasks

In [ ]:
to_do_list=["Buy Groceries","Clean the house","Pay bills"]

# Tuples

In [25]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

In [26]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [27]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
print(numbers[2])
print(numbers[-1])

3
6

In [28]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [29]:
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [30]:
numbers[1] = 6

TypeError: 'tuple' object does not support item assignment

In [ ]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [32]:
## Packing and Unpacking tuple
## packing
packed_tuple=(1,"Hello",3.14)
print(packed_tuple)

(1, 'Hello', 3.14)

In [33]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [36]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[1][:3]

[6, 7, 8]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

# Sets

In [40]:
##create a set
my_set={1,2,3,4,5} # if empty its a dict
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [41]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [42]:
my_empty_set=set([1,2,3,6,5,4,5,6]) # Contains unique values
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [43]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [45]:
## Remove the elements from a set
my_set.remove(8)
print(my_set)

KeyError: 8

In [47]:
my_set.discard(9)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
## Set Memebership test
# In Python, the set membership test is used to check if an element is present in a set. You can do this using the in and not in operators

my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
# unions , intersections , difference ,symmetric difference

In [53]:
### Counting Unique words in text
text="In this tutorial we are discussing about sets this we are"
words = text.split()
print(words)
unique = set(words)
print(unique)
print(len(unique))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets', 'this', 'we', 'are']
{'this', 'discussing', 'are', 'sets', 'In', 'we', 'tutorial', 'about'}
8