<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g2/loops_and_function_mca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

In [23]:
# for loop
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [26]:
# step size  range(start index , end index-1, step size)
for i in range(10,2,-2):
  print(i)

10
8
6
4

In [27]:
# iterating a string
s = "mmdu mca"
for i in s:
  print(i)

m
m
d
u

m
c
a

In [28]:
# while loop
i = 0
while i<5:
  print(i)
  i+=1

0
1
2
3
4

In [29]:
# break
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(10):

  if i==5:

    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# nested loops
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [30]:
i = 4
j = 6
print(f"value of i is {i} and j is {j}")

value of i is 4 and j is 6

In [ ]:
# calculate sum of first n natural numbers

In [34]:
# pattern printing
''' *****
    *****
    *****
    *****
    *****  '''
for i in range(5):
  for j in range(5):
    print("*",end = "")
  print()

*****
*****
*****
*****
*****

In [35]:
''' *
    **
    ***
    ****
    ***** '''
for i in range(5):
  for j in range(i):
    print("*",end = "")
  print()

*
**
***
****

In [ ]:
# find prime numbers between 1 to 100

In [ ]:
''' *****
    ****
    ***
    **
    * '''

# Functions

In [36]:
# function definition
def greet():
  print("hello")

In [38]:
# function call

for i in range(5):
  greet()

hello
hello
hello
hello
hello

In [ ]:
# types of function
# print , input , len , sum , max , count

In [40]:
# local and global variables
a = 6 # global
def fun():
  b = 3 # local

print(b)

NameError: name 'b' is not defined

In [43]:
# parameters in a function
def add(a,b):
  print(a+b)

add(4,6)

10

In [46]:
# return statement
def fun(a,b):
  return "hello"

fun(16,6)

'hello'

In [48]:
# keyword and positional arguments
# positional
def student(name,age):
  print(f"{name} is {age} years old")

student(30,"Amit")

30 is Amit years old

In [49]:
student(age=32,name="Amit")

Amit is 32 years old

In [ ]:
# wap to find max of 3 numbers

In [ ]:
# print multiplication table of a number

In [ ]:
1900

2000

# Check if a given year is leap year or not

In [21]:
def is_leap_year(year):
  """Checks if a given year is a leap year."""
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  else:
    return False

y = int(input("enter a year "))
print(is_leap_year(y))

enter a year 2
False