<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g2/Numpy_and_Pandas_Basics_mca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python librares
# numpy - statistical analysis
# pandas - data manipulation
# matplotlib - data visualization
# seaborn - data visualization

Why to use numpy

- faster processing
- less memory consumption
- functionality
- integration with other libraries

In [ ]:
#numpy
!pip install numpy

In [1]:
import numpy as np

In [2]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
arr = np.array(lst)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
type(arr)

numpy.ndarray

In [5]:
arr.ndim #for dimension of array

2

In [6]:
arr.shape

(3, 3)

In [7]:
arr.size

9

In [8]:
# zero array

np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [9]:
# ones
np.ones((4,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [ ]:
# random function

In [13]:
np.random.random((3,2))*100

array([[ 8.34411292, 55.16528847],
       [31.42556649, 94.02654726],
       [98.93031835, 32.69944872]])

In [17]:
np.random.randint(1,6)

5

In [18]:
# arange function
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [19]:
np.arange(1,19,4) # stepsize

array([ 1,  5,  9, 13, 17])

In [22]:
np.linspace(1,11,14) # number of elements

array([ 1.        ,  1.76923077,  2.53846154,  3.30769231,  4.07692308,
        4.84615385,  5.61538462,  6.38461538,  7.15384615,  7.92307692,
        8.69230769,  9.46153846, 10.23076923, 11.        ])

In [23]:
# flatten
arr.flatten()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
p = np.random.random((3,5))
p

array([[0.66795736, 0.98270289, 0.39191251, 0.48805664, 0.78705559],
       [0.08114746, 0.67889512, 0.41880486, 0.63025848, 0.67156247],
       [0.58264164, 0.92025959, 0.47078539, 0.6569244 , 0.04193965]])

In [27]:
np.reshape(p,(5,3))

array([[0.66795736, 0.98270289, 0.39191251],
       [0.48805664, 0.78705559, 0.08114746],
       [0.67889512, 0.41880486, 0.63025848],
       [0.67156247, 0.58264164, 0.92025959],
       [0.47078539, 0.6569244 , 0.04193965]])

In [ ]:
p.flatten()

In [28]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [29]:
arr+1

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [30]:
arr-1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [31]:
arr*2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [32]:
arr/2

array([[0.5, 1. , 1.5],
       [2. , 2.5, 3. ],
       [3.5, 4. , 4.5]])

In [33]:
arr**2

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [34]:
# identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [35]:
int(arr.max())

9

In [36]:
int(arr.min())

1

In [37]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [38]:
int(arr.sum())

45

In [39]:
arr.max(axis=0) # column wise

array([7, 8, 9])

In [40]:
arr.max(axis=1) # row wise

array([3, 6, 9])

In [41]:
int(arr.trace()) # sum of diagonal elements

15

In [42]:
arr1 =np.array([[2,5,3],
                [4,2,7],
                [3,5,9]])
arr2 =np.array([[1,9,3],
                [2,2,7],
                [7,6,3]])

In [43]:
arr1

array([[2, 5, 3],
       [4, 2, 7],
       [3, 5, 9]])

In [44]:
arr2

array([[1, 9, 3],
       [2, 2, 7],
       [7, 6, 3]])

In [45]:
arr3 = arr1+arr2
arr3

array([[ 3, 14,  6],
       [ 6,  4, 14],
       [10, 11, 12]])

In [46]:
# indexing
int(arr3[2,1])

11

In [47]:
arr3

array([[ 3, 14,  6],
       [ 6,  4, 14],
       [10, 11, 12]])

In [48]:
# sorting
np.sort(arr3)

array([[ 3,  6, 14],
       [ 4,  6, 14],
       [10, 11, 12]])

In [49]:
arr4 = np.sort(arr3,axis=1)
arr4

array([[ 3,  6, 14],
       [ 4,  6, 14],
       [10, 11, 12]])

In [50]:
arr5 = np.sort(arr3,axis=0)
arr5

array([[ 3,  4,  6],
       [ 6, 11, 12],
       [10, 14, 14]])

In [51]:
# stack - merges 2 arrays
arr1

array([[2, 5, 3],
       [4, 2, 7],
       [3, 5, 9]])

In [52]:
arr2

array([[1, 9, 3],
       [2, 2, 7],
       [7, 6, 3]])

In [53]:
arr3 = np.vstack((arr1,arr2))
arr3

array([[2, 5, 3],
       [4, 2, 7],
       [3, 5, 9],
       [1, 9, 3],
       [2, 2, 7],
       [7, 6, 3]])

In [54]:
arr4 = np.hstack((arr1,arr2))
arr4

array([[2, 5, 3, 1, 9, 3],
       [4, 2, 7, 2, 2, 7],
       [3, 5, 9, 7, 6, 3]])

In [58]:
# split functions
np.hsplit(arr4,3)

[array([[2, 5],
        [4, 2],
        [3, 5]]),
 array([[3, 1],
        [7, 2],
        [9, 7]]),
 array([[9, 3],
        [2, 7],
        [6, 3]])]

In [59]:
np.vsplit(arr3,3)

[array([[2, 5, 3],
        [4, 2, 7]]),
 array([[3, 5, 9],
        [1, 9, 3]]),
 array([[2, 2, 7],
        [7, 6, 3]])]

Normalization using Numpy

In [ ]:
# 12 , 22, 35, 56, 78, 89
#   6 , 5, 4, 3, 2, 1

In [ ]:
import numpy as np
data = np.array([1,2,39,400,5])

In [ ]:
min_val = np.min(data)
max_val = np.max(data)
print(min_val)
print(max_val)

In [ ]:
normalized_arr = (data-min_val)/(max_val-min_val)
normalized_arr

Explore About Z-Score Normalization

In [ ]:
data

In [ ]:
mean_val = np.mean(data)
std_val = np.std(data)

In [ ]:
normalize_val= (data-mean_val)/std_val

In [ ]:
normalize_val

# Pandas

In [60]:
# importing
import pandas as pd

In [61]:
data = [1,2,3,4]
s = pd.Series(data)
print(s)

0    1
1    2
2    3
3    4
dtype: int64

In [62]:
type(s)

pandas.core.series.Series

In [63]:
# create a series through dictionary
dct = {'a':1,'b':2,'c':3}
series_dct = pd.Series(dct)
series_dct

a    1
b    2
c    3
dtype: int64

In [64]:
data = [1,2,3]
Index = ['a','b','c']
series = pd.Series(data,Index)
series

a    1
b    2
c    3
dtype: int64

In [65]:
# dataframe
# creating a dataframe from a dictionary of list
data = {'Name':['Krish','John','Jack'],
        'Age':[23,34,43],
        'City':['Noida','New York','Florida']
        }
df= pd.DataFrame(data)
df

    Name  Age      City
0  Krish   23     Noida
1   John   34  New York
2   Jack   43   Florida

In [66]:
df['City']

0       Noida
1    New York
2     Florida
Name: City, dtype: object

In [67]:
# loc - label based
print(df.loc[2,'Age'])

43

In [69]:
#iloc - integer based
print(df.iloc[2,1])

43

In [70]:
# adding a column
df['salary']= [1000,2000,3000]

In [71]:
df

    Name  Age      City  salary
0  Krish   23     Noida    1000
1   John   34  New York    2000
2   Jack   43   Florida    3000

In [72]:
df.drop('salary', axis=1, inplace=True)
df

    Name  Age      City
0  Krish   23     Noida
1   John   34  New York
2   Jack   43   Florida

In [73]:
## Add age to the column
df['Age']=df['Age']+1
df

    Name  Age      City
0  Krish   24     Noida
1   John   35  New York
2   Jack   44   Florida

In [74]:
# load the sales data
df = pd.read_csv('/content/sales_data.csv')

In [75]:
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [76]:
# checking info shape and describe
df.shape

(240, 9)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    240 non-null    int64
 1   Date              240 non-null    object
 2   Product Category  240 non-null    object
 3   Product Name      240 non-null    object
 4   Units Sold        240 non-null    int64
 5   Unit Price        240 non-null    float64
 6   Total Revenue     240 non-null    float64
 7   Region            240 non-null    object
 8   Payment Method    240 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 17.0+ KB

In [78]:
df.describe()

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

In [80]:
# checking for null values
df.isnull().sum()

Transaction ID      0
Date                0
Product Category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [81]:
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [83]:
# Filter data based on conditions
df[df['Region']== "Europe"]

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2,599.99,1199.98,Europe,PayPal
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1,129.99,129.99,Europe,PayPal
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1,189.99,189.99,Europe,PayPal
...,...,...,...,...,...,...,...,...,...
226,10227,2024-08-14,Beauty Products,The Ordinary Caffeine Solution 5% + EGCG,1,6.70,6.70,Europe,PayPal
229,10230,2024-08-17,Home Appliances,Anova Precision Oven,1,599.00,599.00,Europe,PayPal
232,10233,2024-08-20,Beauty Products,Fresh Sugar Lip Treatment,1,24.00,24.00,Europe,PayPal
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal

In [84]:
# Sort by column
df.sort_values(by='Total Revenue', ascending=False)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
102,10103,2024-04-12,Electronics,Canon EOS R5 Camera,1,3899.99,3899.99,North America,Credit Card
85,10086,2024-03-26,Home Appliances,LG OLED TV,2,1299.99,2599.98,Europe,PayPal
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1,2499.99,2499.99,North America,Credit Card
216,10217,2024-08-04,Electronics,Apple MacBook Pro 16-inch,1,2399.00,2399.00,North America,Credit Card
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
...,...,...,...,...,...,...,...,...,...
166,10167,2024-06-15,Beauty Products,Neutrogena Hydro Boost Water Gel,1,16.99,16.99,Europe,PayPal
112,10113,2024-04-22,Beauty Products,Biore UV Aqua Rich Watery Essence Sunscreen,1,15.00,15.00,Europe,PayPal
136,10137,2024-05-16,Beauty Products,The Ordinary Hyaluronic Acid Serum,1,6.80,6.80,Europe,PayPal
226,10227,2024-08-14,Beauty Products,The Ordinary Caffeine Solution 5% + EGCG,1,6.70,6.70,Europe,PayPal
106,10107,2024-04-16,Beauty Products,The Ordinary Niacinamide Serum,1,6.50,6.50,Europe,PayPal

In [85]:
# calculate the total revenue region vise
df.groupby('Region')['Total Revenue'].sum()

Region
Asia             22455.45
Europe           21268.06
North America    36844.34
Name: Total Revenue, dtype: float64

In [86]:
df.groupby('Product Category')['Total Revenue'].sum()

Product Category
Beauty Products     2621.90
Books               1861.93
Clothing            8128.93
Electronics        34982.41
Home Appliances    18646.16
Sports             14326.52
Name: Total Revenue, dtype: float64

In [ ]:
# display only product name and total revenue where unit sold is less than 5

In [87]:
# find top 3 products with highest total revenue
df.sort_values("Total Revenue",ascending = False).head(3)

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
102,10103,2024-04-12,Electronics,Canon EOS R5 Camera,1,3899.99,3899.99,North America,Credit Card
85,10086,2024-03-26,Home Appliances,LG OLED TV,2,1299.99,2599.98,Europe,PayPal
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1,2499.99,2499.99,North America,Credit Card