<a href="https://colab.research.google.com/github/Dhawaldwivedi/mca-3rd-sem-mmdu-python/blob/main/mca-g2/Sets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SETS - data is unordered
    
     - does not have duplicates ( contains unique values)

In [3]:
# sets
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [4]:
type(my_set)

set

In [5]:
s = {}
type(s)

dict

In [6]:
my_set2 = set()
my_set2

set()

In [ ]:
my_set2 = set([1,2,34])
my_set2

In [7]:
my_set2 = {1,5,7,2,3,4,4,3,7,8}
my_set2

{1, 2, 3, 4, 5, 7, 8}

In [8]:
my_set

{1, 2, 3, 4, 5}

In [9]:
# add an element
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 7}

In [10]:
my_set.add(7)
my_set

{1, 2, 3, 4, 5, 7}

In [11]:
# remove function
my_set.remove(7)
my_set

{1, 2, 3, 4, 5}

In [12]:
my_set.remove(0)

KeyError: 0

In [14]:
# discard
my_set.discard(9)
my_set

{1, 2, 4, 5}

In [15]:
my_set.discard(10)
my_set

{1, 2, 4, 5}

In [16]:
# pop function
my_set.pop()
my_set

{2, 4, 5}

In [17]:
#clear
my_set.clear()
my_set

set()

In [18]:
# set membership test
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [19]:
print(3 in my_set)

True

In [20]:
print(8 in my_set)

False

In [22]:
# mathematical operations
set1 = {1,2,3,4,5}
set2 ={4,5,6,7,8,9}

In [23]:
# union
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# intersection
intersection_set = set1.intersection(set2)
intersection_set

{4, 5}

In [25]:
# difference
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

diff_set = set1.difference(set2)
diff_set
# returns elements of set1 which are not present in set 2

{1, 2, 3}

In [26]:
# returns elements of set2 which are not present in set 1
diff_set2 = set2.difference(set1)
diff_set2

{7, 8, 9}

In [27]:
# symmetric difference
sym_diff = set1.symmetric_difference(set2)
sym_diff

{1, 2, 3, 7, 8, 9}

In [ ]:
# union - intersection = symmetric difference

In [28]:
# set methods - subset , superset
set1 = {1,2,3,4,5}
set2 = {3,4,5}
set2.issubset(set1)

True

In [29]:
set1.issuperset(set2)

True

In [30]:
lst= [2,5,4,6,7,8,8,6,7,4]
print(lst)
set1 = set(lst)
print(set1)

[2, 5, 4, 6, 7, 8, 8, 6, 7, 4]
{2, 4, 5, 6, 7, 8}

In [32]:
# count the unique words in this text
text = " hi everyone i am from gfg data science , data analytics , data engineering , i am teaching in this batch , thanks everyone"
text

' hi everyone i am from gfg data science , data analytics , data engineering , i am teaching in this batch , thanks everyone'

In [34]:
unique = set(text)
print(unique)
print(len(unique))

{'a', 'i', 'l', ' ', ',', 'g', 'f', 'h', 'r', 'm', 'o', 'n', 'y', 'b', 'k', 'c', 'v', 'd', 'e', 't', 's'}
21

In [36]:
words = text.split()
print(words)
print(len(words))

['hi', 'everyone', 'i', 'am', 'from', 'gfg', 'data', 'science', ',', 'data', 'analytics', ',', 'data', 'engineering', ',', 'i', 'am', 'teaching', 'in', 'this', 'batch', ',', 'thanks', 'everyone']
24

In [37]:
uni = set(words)
print(uni)
print(len(uni))

{'thanks', 'i', 'data', 'batch', 'in', 'hi', 'science', 'analytics', 'engineering', 'everyone', 'am', 'this', 'from', ',', 'gfg', 'teaching'}
16

DICTIONARIES

- variables ,lists
- roll_no = [1,2,3,4,5] list1
- name = ["amit","harsh","dhawal","gfg","gfg2.0"] list2

In [38]:
# dictionaries - key,value
my_dict = {1:"amit",2:"harsh",3:"dhawal",4:"gfg",5:"gfg2.0"}
print(my_dict)
print(type(my_dict))

{1: 'amit', 2: 'harsh', 3: 'dhawal', 4: 'gfg', 5: 'gfg2.0'}
<class 'dict'>

In [39]:
my_dict = {2,3,4,5,7}
type(my_dict)

set

In [40]:
student = {"name":"gfg","age":34,"marks":88,"name":"Dhawal"}
student

{'name': 'Dhawal', 'age': 34, 'marks': 88}

In [43]:
# accesing the elements
student[34]

KeyError: 34

In [48]:
# get method
student.get('name','Not present')

'Dhawal'

In [ ]:
student.get("grade")

In [ ]:
 # default value

In [49]:
student["name"]="Ram"
student

{'name': 'Ram', 'age': 34, 'marks': 88}

In [50]:
student["country"]= "India"
student

{'name': 'Ram', 'age': 34, 'marks': 88, 'country': 'India'}

In [51]:
del student["country"] # deleting key and value both
student

{'name': 'Ram', 'age': 34, 'marks': 88}

In [52]:
student2 = {"name":"gfg","age":34,"marks":88,"age":45}
student2
## dictionary methods -

{'name': 'gfg', 'age': 45, 'marks': 88}

In [53]:
k = student2.keys()
k

dict_keys(['name', 'age', 'marks'])

In [54]:
v= student2.values()
v

dict_values(['gfg', 45, 88])

In [55]:
i = student2.items()
i

dict_items([('name', 'gfg'), ('age', 45), ('marks', 88)])

In [56]:
# shallow copy
student_copy= student2

In [57]:
student_copy

{'name': 'gfg', 'age': 45, 'marks': 88}

In [58]:
student2["name"] = "gfg2"
student2

{'name': 'gfg2', 'age': 45, 'marks': 88}

In [59]:
student_copy

{'name': 'gfg2', 'age': 45, 'marks': 88}

In [60]:
student_copy1 = student2.copy() # copy function
student_copy1

{'name': 'gfg2', 'age': 45, 'marks': 88}

In [61]:
student2["name"]= "gfg3"
student2

{'name': 'gfg3', 'age': 45, 'marks': 88}

In [62]:
student_copy1

{'name': 'gfg2', 'age': 45, 'marks': 88}

In [63]:
student_copy

{'name': 'gfg3', 'age': 45, 'marks': 88}

In [ ]:
student_copy["name"]= "gfg4"
student_copy

In [ ]:
student2

In [ ]:
student_copy1

In [64]:
# dictionary iteration
# key iteration
for key in student2.keys():
  print(key)

name
age
marks

In [65]:
# value iteration
for value in student2.values():
  print(value)

gfg3
45
88

In [66]:
for key,value in student2.items():
  print(f"{key}:{value}")

name:gfg3
age:45
marks:88

In [67]:
# nested dictionaries
students = {
    "student1":{"name":"gfg","age":22},
    "student2":{"name":"gfg2","age":44},
    "student3":{"name":"gfg3","age":33}
}
students

{'student1': {'name': 'gfg', 'age': 22},
 'student2': {'name': 'gfg2', 'age': 44},
 'student3': {'name': 'gfg3', 'age': 33}}

In [68]:
students["student2"]["name"]

'gfg2'

In [69]:
students["student3"]["age"]

33

In [70]:
students.items()

dict_items([('student1', {'name': 'gfg', 'age': 22}), ('student2', {'name': 'gfg2', 'age': 44}), ('student3', {'name': 'gfg3', 'age': 33})])

In [71]:
for student_id , student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'gfg', 'age': 22}
name:gfg
age:22
student2:{'name': 'gfg2', 'age': 44}
name:gfg2
age:44
student3:{'name': 'gfg3', 'age': 33}
name:gfg3
age:33

In [72]:
a = [student["age"] for student in students.values()]
a

[22, 44, 33]

In [74]:
# dictionary comprehension
square = {x:x**2 for x in range(5)}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
sqaure = {x:x**2 for x in range(5)}
sqaure

In [75]:
## count each number occurance in a list
numbers = [1,2,2,3,3,3,4,4,4,4]
freq = {}
for i in numbers:    # {1:1,2:2,3:1}
  if i in freq:
    freq[i]+=1
  else:
    freq[i]=1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 4}

Question:

You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but did not attend. Finally, print a summary showing the count of "Attended" and "No-show" students. Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

In [ ]:
signups = [101,102,103,104,101,105,106,102]
attendees = [102,104,106,107]

In [ ]:
# expected output
101:no show
102:attended
103:no show
107:no signups

summary
attended :
no show

In [ ]:
signups = [101,102,103,104,101,105,106,102]
attendees = [102,104,106,107]

unique_signups = set(signups)
unique_attendees = set(attendees)
print(unique_signups)
print(unique_attendees)

In [ ]:
attended_count=0
no_show_count=0
for student_id in unique_signups:
  if student_id in unique_attendees:
    attended_count+=1
    print(f"{student_id}:attended")
  else:
    no_show_count+=1
    print(f"{student_id}:no show")

print("\nsummmary")
print(attended_count)
print(no_show_count)

Unique Common Elements
Problem: You are given two lists of integers. Write a program to:

Find the unique common elements between the two lists. Print these common elements in sorted order. If there are no common elements, print "No common elements".

In [ ]:
list1 = [5,6,7,1,2,3,4,8,9,2]

list2 = [8,9,5,6,10,6]

In [ ]:
set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)

In [ ]:
Common_elements = set1.intersection(set2)
if Common_elements:
  print("common elements are ",sorted(Common_elements))
else:
  print("no commmon elements")

In [ ]:
type(Common_elements)

Shopping Cart Analysis
Problem: You are given two lists:

**CART:**
 A list of items purchased by a user (may contain duplicates).
**INVENTORY:**
   A list of items left in stock. Write a program to:

- Identify and print items purchased by the user that are not in stock.
-  Count the number of unique items purchased by the user.

In [ ]:
cart = ["apple","mango","banana","orange","apple","grapes"]
inventory = ["apple","mango","banana","grape"]
# output
# out of stock items = {orange}
# unique items purchased